@import '../../variables';

.root {
  & .icon {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: #ff0000;
    width: 2.8rem;
    height: auto;
  }

  & .section {
    width: 100vw;
  }

  & .news_container {
    cursor: pointer;

    & .image {
      @include pc {
        height: auto;
        max-height: 350px;
        width: auto;
      }

      @include tab {
        height: auto;
        max-height: 350px;
        width: auto;
      }

      @include sp {
        height: auto;
        width: 100%;
      }
    }

    & .title {
      bottom: .8rem;
      position: absolute;
      left: 50%;
      margin-left: -47.5%;
      width: 95%;
      border-radius: 10px;
      background: hsla(213, 100%, 15%, .9);
      color: #fff;
      padding: .5rem;
      font-size: 1.2rem;
      text-align: center;
      opacity: .7;
      font-weight: 700;
      word-break: break-all;
      text-align: left;
    }
  }



  & .menu_container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & .menu {
      cursor: pointer;
      padding: 1.5rem;
      box-sizing: border-box;
      width: 50%;
      
      &:hover {
        background: #f0f8ff;
      }

      & img {
        width: 100%;

        @include pc {
          height: 300px;
        }
  
        @include tab {
          height: 150px;
        }
  
        @include sp {
          height: 100px;
        }
      }

      & .title {
        color: #323344;
        font-size: 0.8rem;
        font-weight: 700;
        margin: .5rem;
        text-align: center;
      }
    }
  }
}

.menu_item {
  & svg {
    padding: .5rem;
  }
}
